<div class="d-sm-flex justify-content-center">
  <div>
    <h1 class="text-center mb-5">Book tickets</h1>
    <%= render 'form', reservation: reservation, seance: seance %>
    <%= link_to 'Back', seances_path, class: 'btn btn-dark mt-5 mb-5'  %>
  </div>
</div>
